*{
  margin: 0;
  padding: 0;
}
.cabecalho {
  background-color: #005aeb;
  color: rgb(33, 243, 14);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}
.cabecalho-imagem{
  width: 20%;
}
.cabecalho-lista-item{
  display: inline-block;
  margin: 50px;
  font-size: 50px;
}
